@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.body{
    margin-top: .05vh;
}

.chatBox{
    width: 100%;
    height: 100%;
    
    
}
.chatArea{
    width: 100%;
    height: 93%;
    background: url('https://image.freepik.com/free-vector/hand-drawn-background-about-education_1284-749.jpg');
    background-size: 15%;
}
.msgArea{
    width: 100%;
    height: 7%;
    background-color: rgb(224, 224, 224);
}
.chatList{
    width: 100%;
    height: 100%;
    background-color: white;
    flex-basis: 20.60%;
    margin-right: 1px;
    
}
.msgArea .textBox{
    width: 90%;
    margin-left: 2%;
    margin-top: .7%;
    height: 60%;
    border: none;
    outline: none;
    border-radius: 10px;
    padding-left: 1%;
    background-color: white;
    font-family: 'Roboto', sans-serif;
}

.msgArea .sendBtn{
    width: 4%;
    height: 65%;
    margin-left: .5%;
    margin-top: .7%;
    border: none;
    outline: none;
    border-radius: 10px;
    background: #8990f1;
    font-size: 1rem;
    font-family: 'Roboto', sans-serif;
    
}

.msgArea .sendBtn:hover{
    background: #a7ace7;
}

.msgArea .sendBtn:active{
    background: rgb(88, 88, 88);
    color: #a7ace7;
}



.chatList .active{
    display: flex;
    align-items: center;
    
    font-family: 'Roboto', sans-serif;
    font-size: 1.4rem;
    width: 100%;
    height: 6%;
    background-color: #ebebeb;
}
.chatList .name{
    border-bottom: 1px solid #dbdbdb;
    display: flex;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    font-size: 1.4rem;
    width: 100%;
    height: 6%;
    background-color: rgb(255, 255, 255);
}

.chatList .pfp{
    aspect-ratio: 1/1;
    width: 11%;
    margin: 2%;
    
    border-radius: 50%;
}